h4 {
    text-align: left;
    padding: none;
    color: grey;
    margin: 50px;
}

p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
}


#contact {
    align-content: center;
    /* border: 1px solid rgb(0, 255, 0); */
    margin-right: 50px;
    padding-left: 50px;
    font-family: 'Roboto Mono',
        monospace;
    font-weight: 300;
    text-decoration: none;
    color: grey;
    font-size: 30px;
}

#contact:hover {
    text-shadow: 0 0 80px rgb(0, 0, 0, .5);
    border: 1px solid rgb(0, 255, 0);
    font-size: 35px;
    line-height: 1em;
    /* text-shadow: 0 0 15px rgba(0, 0, 0, .7); */
}