@import url('https://fonts.googleapis.com/css?family=Changa|Gloria+Hallelujah|Indie+Flower|Julius+Sans+One|Niramit|Source+Sans+Pro|VT323');


body {
    /* background-image: url("34ae9e1b159b210f88077c461a00c0f2.jpg"); */
    background-image: url("postcard_1.jpg");
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    /* font-family: 'VT323', monospace; */
    font-family: 'Gloria Hallelujah',
        cursive;
    /* font-family: 'Changa',
        sans-serif;
    font-family: 'Julius Sans One',
        sans-serif; */
    font-size: 80px;
    color: whitesmoke
}


h2 {
    font-family: 'Gloria Hallelujah',
        cursive;
    color: rgb(250, 75, 206);
    margin-bottom: 30px;
    /* border: 1px solid purple; */
    height: 100px;
    margin-bottom: 50px;
}

.grey {

    color: lightslategray;
}

.section {
    display: flex;
    /* padding: 2em; */
    /* border: 1px solid red; */
    align-items: stretch;
    align-content: stretch;
    background-color: rgba(252, 186, 208, .7);
    height: 10000px;

}

section {
    padding: .5em;
    /* border: 1px solid blue; */
}

p {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid cyan 1px;
    font-family: 'Niramit', sans-serif;
    /* background-color: rgb(252, 186, 208, .8); */
    height: 250px;
    font-size: 15px;



}


a {
    text-decoration: none;
    color: cyan;
}

a:hover {
    text-shadow: 0 0 40px cyan;
    font-size: 18px;
}

.date {
    /* border: 1px solid blue; */
    width: 100px;
    color: cyan;
}

.dear {
    width: 775px;
    /* border: 1px solid red; */
}

.punch {
    /* border: 1px solid orange; */
    width: 600px;
}

.pissed {
    /* border: 1px solid purple; */
    width: 600px;
}

.apparently {
    /* border: 1px solid green; */
    width: 600px;
}

.song {
    /* border: 1px solid yellow; */
    width: 300x;
}