.renders {
    display: flex;
    /* padding: 1em;
    border: 1px solid red; */
}

#render {
    padding-left: 1em;
    padding-right: 1em;
    /* border: 1px solid blue; */
}

h3 {
    max-width: 2000px;
}

.narrative {
    display: flex;
    padding: 4em;
    padding-top: 0em;
    margin-bottom: 200px;
}

#narrativeP {
    padding: 2em;
}

.image1 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.myslides {
    max-width: 800px;
}

.slideshow-container {
    max-width: 800px;

}


body {
    min-height: 3000px;
    background-color: white;
}