.renders {
    display: flex;
    padding: 2em;
}

#render {
    padding-left: 1em;
    padding-right: 1em;
}

h3 {
    max-width: 2000px;
}

.narrative {
    display: flex;
    padding: 4em;
    padding-top: 0em;
    margin-bottom: 200px;
}

#narrativeP {
    padding: 2em;
}