#introP {
    padding: 0px;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
}

#begin {
    padding: 2em;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 4px 25px rgb(236, 236, 236);

}