p {
    font-family: 'Roboto Mono',
        monospace;
    margin-top: 50px;
    margin-bottom: 0px;
    color: black;
    font-size: 15px;
    /* border: 1px solid purple; */
    /* box-shadow: 7px 1px 8px rgb(236, 236, 236); */

}

#header {
    font-size: 25px;
    color: black;
    font-weight: 100;

}

.about {
    /* display: flex; */
    /* max-width: 800px; */
    background-color: white;
    /* border: 1px solid orange; */
    width: 80%;
    align-self: center;
    padding: 4em;

}

.info {
    display: flex;
    /* border: 3px solid green; */
    align-content: center;
    justify-content: center;
}

.face {
    width: 40%;
    padding: 2em;
    /* border: 1px solid purple; */
    min-width: 50px;

}

.writing {
    background-color: white;
    min-width: 200px;
}

h2 {
    align-self: left;
    text-align: left;
    margin-left: 0px;
    background: white;
    color: black;
    margin-bottom: 50px;
    /* border: 1px solid red; */

}