p {
    font-family: 'Roboto Mono',
        monospace;
    margin-top: 50px;
    margin-bottom: 0px;
    color: grey;
    font-size: 15px;
}

#header {
    font-size: 25px;
    color: grey;
    font-weight: 100;

}

p #highlight {
    color: grey;
}

.info {
    display: flex;
    /* border: 3px solid green; */
    align-content: center;
    align-self: center;
    justify-content: center;
    width: 80%;
    min-width: 400px;
}

.face {
    padding: 2em;

}

.writing {
    background-color: white;
    min-width: 200px;
}

h2 {
    margin-bottom: 100px;
    margin-top: 50px;
    text-align: center;
}

.content {
    /* padding: 5em; */
    min-width: 10%;
}


@media only screen and (min-device-width:375px) and (max-device-width: 812px) {
    .content {
        padding: 0em;
    }

    .info {
        display: block;
        align-content: center;
        justify-content: center;

        min-width: 275px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        line-height: 1.5em;
        margin-top: 25px;
        font-size: 12px;
        padding-left: 20px;
    }

    p #highlight {
        font-size: 12px;
    }

    .face {
        width: 70%;
        padding: 0em;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        margin-bottom: 50px;
    }

    #header {
        font-size: 20px;
    }

}