.links {
    margin-top: 400px;
    width: 550px;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: rgb(53, 238, 53);
    line-height: 1.5em;
    transform: rotate(4deg);
    line-height: 2em;
}

.links :hover {
    border: 1px solid rgb(0, 255, 0);
    font-size: 50px;
    line-height: 1em;
    text-shadow: 0 0 20px rgba(0, 0, 0, 80);
}

a {
    text-decoration: none;
    background-color: rgba(0, 255, 0, .5);
    color: lightgray;
}

.name {
    position: fixed;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 60px;
    text-decoration: none;
    color: rgb(0, 255, 0);
    opacity: 50%;
    padding-left: 100px;
    padding-right: 50px;
    border: none;
    text-shadow: 0 0 20px rgba(0, 0, 0, 80);
    background-color: none;
    background-color: rgba(0, 255, 0, .5);
    margin-top: 200px;
}

.name:hover {
    color: rgb(0, 255, 0);
    text-shadow: 0 0 100px rgba(0, 255, 0, 1);
}

#myVideo {
    min-width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-around;

}

#slash:hover {
    border: none;
    font-size: 40px;
}

@media only screen and (min-device-width:375px) and (max-device-width: 812px) {
    .container {
        display: block;
        align-items: center;
        justify-content: left;
        width: 375px;
    }

    .links {
        width: 300px;
        margin-top: 400px;
        margin-left: 100px;
    }

    .name {
        position: fixed;
        right: 0;
        top: 0;
        width: 375px;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 100px;

    }

}