 @import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:300,400");

 body {
     /* max-width: 600 px; */
     margin: 0 auto;
     margin-left: auto;
     margin-right: auto;
 }

 h1 {
     font-family: 'Roboto Mono', monospace;
     font-weight: 300;
     font-size: 70px;
     margin-top: 100px;
     margin-left: 50px;
     /* background-color: lightgray; */
 }

 h2 {
     font-family: 'Roboto Mono', monospace;
     /* text-align: center; */
     margin-left: 50px;
     font-weight: 100;
     max-width: 1200px;
     margin-top: 30px;
     margin-bottom: 100px;
     color: grey;
     font-size: 40px;
 }

 h3 {
     margin-top: 200px;

     /* background-color: rgb(53, 238, 53); */
     color: white;
     background-color: lightgrey;
     /* text-shadow: 2px 2px 8px rgb(53, 238, 53); */
     font-family: 'Roboto Mono',
         monospace;
     font-weight: 300;
     font-size: 40px;

     /* max-width: 1200px; */
     margin-left: auto;
     margin-right: auto;
     padding: .5em;
 }

 h4 {
     font-family: 'Roboto Mono', monospace;
     font-weight: 100;
     color: rgb(0, 255, 0);
     font-size: 20px;
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
     text-align: right;
     /* padding: .5em; */
     /* text-shadow: 0 0 40px rgba(0, 255, 0, 40); */
 }

 .navigation {
     padding-top: 50px;
     background-color: rgba(0, 255, 0, .6);
     /* background-color: rgb(0, 0, 0, .2); */
     /* box-shadow: 7px 1px 8px rgba(236, 236, 236); */
     display: flex;
     justify-content: right;
     border: 1px solid rgb(16, 196, 16);
 }

 .nav {
     padding-right: 50px;

     padding-left: 50px;
     font-family: 'Roboto Mono',
         monospace;
     font-weight: 300;
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-size: 30px;
     /* border: 1px solid black; */
 }

 .navSpace {
     padding-top: 30px;
 }

 .nav:hover {
     /* color: grey;
     text-shadow: 0 0 80px rgb(0, 0, 0, .5) */
     border: 1px solid rgb(0, 255, 0);
     font-size: 35px;
     line-height: 1em;
     text-shadow: 0 0 15px rgba(0, 0, 0, .7);
     background-color: rgba(0, 255, 0, .4);
 }

 p {
     max-width: 800px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     margin-bottom: 100px;
     font-size: 15px;
     line-height: 2em;
     font-family: 'Roboto';
 }

 #caption {
     text-align: center;
     font-family: 'Roboto Mono',
         monospace;
     color: grey;
     margin-bottom: 0px;
     margin-top: 25px;
     /* border: 3px dotted orange; */

 }

 #introP {
     /* border: solid 2px black; */
     font-family: 'Roboto Mono',
         monospace;
     font-size: 15px;
     line-height: 2em;

     /* box-shadow: 1px 4px 25px rgb(236, 236, 236); */

 }

 #introP {

     margin-left: auto;
     margin-right: auto;
     padding: 1em;
     margin: 25px;
     margin-left: auto;
     margin-right: auto;
 }



 #begin {
     padding: 2em;
     margin-left: auto;
     margin-right: auto;
     margin-top: 100px;
     margin-bottom: 100px;
     /* box-shadow: 1px 4px 25px rgb(236, 236, 236); */

 }



 #highlight {

     font-size: 25px;
     text-shadow: 0 0 20px rgb(0, 255, 0);
 }

 p #highlight {
     font-size: 15px;
     font-family: 'Roboto Mono',
         monospace;
     color: black;
 }

 .body {
     display: flex;
     align-items: center;
     /* border: solid 2px red; */
     min-width: 600px;
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 50px;
     /* paddng-top: 2em; */

 }

 .body .text {
     /* border: 3px dotted pink; */
     width: 40%;
     padding: 1em;
     padding-right: 2em;
     /* text-align: justify; */
 }


 .body .media {
     /* border: 3px dotted orange; */
     width: 60%;
     height: auto;
     margin-top: auto;
     margin-bottom: auto;

 }

 video {
     /* border: 3px dotted orange; */
     /* margin-left: 15%;
    margin-right: 10%; */
     width: 100%;
     /* border: 3px dotted purple; */


 }

 #end {
     margin-bottom: 150px;
 }

 .image {
     margin-left: auto;
     margin-right: auto;
     width: 80%;
     padding: 2em;

 }

 #link {
     font-size: 60px;
     background-color: lightgrey;
     margin-bottom: 400px;
 }

 .renders {
     display: flex;
     padding: 2em;
 }

 #render {
     padding: 2em;
     padding-bottom: 1em;
 }

 /* .video {
     display: flex;
     min-width: 600px;
     max-width: 1600px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 50px;
     padding: 2em;
 } */

 .video {
     display: flex;
     align-items: center;
     /* border: solid 2px red; */
     min-width: 600px;
     max-width: 1400px;
     max-height: 920px;
     overflow: hidden;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 50px;
     margin-top: 50px;


 }

 .sideBySideVid {
     padding-left: 25px;
     padding-right: 25px;
     /* border: 1px solid blue; */
 }

 .firstImage {
     max-width: 1000px;
     align-self: center;
     /* border: 1px solid red; */
     margin-left: auto;
     margin-right: auto;
 }

 /* #project {
     padding-top: 50px;
     background-color: white;
     min-width: 600px;
     min-height: 2000px;
     border: 1px solid red;
 } */

 #last {
     margin-bottom: 100px;
 }

 #underneath {
     font-family: 'Roboto Mono',
         monospace;
     color: grey;
     margin-bottom: 50px;
     margin-top: 10px;
     line-height: 1.5em;
     /* border: 3px dotted orange; */


 }