 @import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:300,400");

 .logo {

     margin-left: auto;
     margin-right: auto;
     margin-bottom: 50px;
     max-width: 150px;

     /* border: 2px solid rgba(0, 255, 0, .6); */
 }

 .navigation {
     background-color: rgba(0, 255, 0, .6);
     /* box-shadow: 7px 1px 8px rgba(236, 236, 236); */
 }

 .nav {
     padding-right: 50px;
     padding-left: 50px;
     font-family: 'Roboto Mono',
         monospace;
     font-weight: 300;
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-size: 20px;
 }

 .nav:hover {
     border: 1px solid rgb(0, 255, 0);
     font-size: 20px;
     text-shadow: 0 0 15px rgba(0, 0, 0, .7);
     background-color: rgba(0, 255, 0, .4);
 }

 body {
     /* max-width: 600 px; */
     margin: 0 auto;
     margin-left: auto;
     margin-right: auto;
     min-width: 800px;

 }

 .content {
     background-color: white;
     min-width: 1200px;
     min-height: 2000px;
     padding-right: 4em;
     padding-left: 4em;
 }

 h1 {
     font-family: 'Roboto Mono', monospace;
     font-weight: 300;
     font-size: 70px;
     margin-top: 100px;
     text-align: center;
     /* background-color: lightgray; */
 }

 h2 {
     font-family: 'Roboto Mono', monospace;
     /* text-align: center; */
     text-align: center;
     font-weight: 100;
     margin-top: 30px;
     margin-bottom: 100px;
     color: grey;
     font-size: 40px;
 }

 h3 {
     margin-top: 150px;
     color: grey;
     font-family: 'Roboto Mono',
         monospace;
     text-align: center;
     font-weight: 300;
     font-size: 40px;
     margin-left: auto;
     margin-right: auto;
     padding: .5em;
 }

 h4 {
     font-family: 'Roboto Mono', monospace;
     font-weight: 100;
     color: rgb(0, 255, 0);
     font-size: 30px;
     /* max-width: 1200px; */
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     margin-bottom: 20px;
 }

 #header {
     padding: 0px;
     margin: 0px;
     margin-top: 100px;
     margin-bottom: 50px;
 }

 p {
     max-width: 900px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     margin-bottom: 100px;
     font-size: 20px;
     line-height: 2em;
     font-family: 'Roboto';
 }

 #introP {
     font-family: 'Roboto Mono',
         monospace;
     font-size: 20px;
     line-height: 2em;
     padding-left: 2em;
     padding-right: 2em;
     align-content: center;
     margin-top: 100px;
     margin-bottom: 100px;

 }


 #highlight {

     text-shadow: 0 0 20px rgba(0, 255, 0, .90);
 }

 p #highlight {

     font-family: 'Roboto Mono',
         monospace;
     color: black;
 }

 #link {
     font-size: 60px;
     background-color: lightgrey;
     margin-bottom: 400px;
 }

 video {
     width: 100%;
 }

 .video {
     display: flex;
     align-items: center;
     /* border: solid 2px red; */
     min-width: 600px;
     max-width: 1400px;
     max-height: 920px;
     overflow: hidden;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 50px;
     margin-top: 50px;
 }

 .sideBySideVid {
     padding-left: 25px;
     padding-right: 25px;
 }

 /* side by side media  */
 .row {
     display: flex;
 }

 #artwork {
     padding: 1em;
 }

 .firstImage {
     max-width: 1400px;
     align-self: center;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 100px;
 }

 .resume {
     background-color: white;
     padding: 50px;
     min-width: 600px;
 }

 #caption {
     text-align: center;
     font-family: 'Roboto Mono',
         monospace;
     color: grey;
     margin-bottom: 0px;
     margin-top: 25px;
     font-size: 15px;

     /* border: 3px dotted red; */
 }

 /* for slideshows */
 .text {
     color: grey;
     font-size: 15px;
     position: relative;
     top: 10px;
     width: 100%;
     padding: 2em;
     text-align: center;
     background: rgba(255, 255, 255, .5);
     padding-left: 50px;
     padding-right: 50px;
     line-height: 1.5em;
     font-family: 'Roboto Mono', monospace;
 }


 #last {
     margin-bottom: 100px;
 }

 #myVideo {
     position: fixed;
     left: 0;
     top: 0;
     z-index: -1;
     filter: invert(100%);
     margin: 0px;
     object-fit: cover;
 }

 @media only screen and (min-device-width:375px) and (max-device-width: 812px) {
     body {
         min-width: 200px;
         /* max-width: 375px; */
     }

     .content {
         margin-left: 0px;
         padding-right: 0em;
         padding-left: 0em;
         min-width: 0px;
         min-height: 2000px;
     }

     h1 {
         font-family: 'Roboto Mono', monospace;
         font-weight: 300;
         font-size: 50px;
         margin-top: 100px;
         margin-left: 0px;
         text-align: center;
         /* background-color: lightgray; */
     }

     h2 {
         text-align: center;
         margin-top: 20px;
         margin-bottom: 50px;
         color: grey;
         font-size: 20px;
         margin-left: 0px;
         padding-left: 1em;
         padding-right: 1em;
     }

     h3 {
         margin-top: 50px;
         color: white;
         background-color: lightgrey;
         font-family: 'Roboto Mono',
             monospace;
         font-weight: 300;
         font-size: 30px;
         margin-left: auto;
         margin-right: auto;
         padding: .5em;
     }

     .video {
         display: block;
         align-items: center;
         min-width: 150px;
         max-width: 375px;
         max-height: 920px;
         overflow: hidden;
         /* margin-bottom: 40px; */
         /* margin-top: 50px; */
     }

     .sideBySideVid {
         padding: 10px;

     }

     p {
         margin-top: 20px;
         margin-bottom: 30px;
         font-size: 15px;

         padding: 5px;

     }

     #introP {
         font-size: 15px;
         line-height: 1.5em;

     }

     #caption {
         color: grey;
         margin-bottom: 0px;
         margin-top: 12px;
         font-size: 12px;
         padding: 1em;
         line-height: 1.5em;

     }

     .text {
         font-size: 12px;
         padding: 1em;
     }




     #highlight {
         font-size: 12px;
         text-shadow: 0 0 15px rgba(0, 255, 0, .90);
     }

     #underneath {
         color: grey;
         margin-bottom: 50px;
         margin-top: 10px;
         line-height: 1.5em;
         /* border: 3px dotted orange; */
     }

     .row {
         display: block;
     }
 }