body {
    display: flex;

}

.navigation {
    padding-top: 50px;
    background-color: rgba(0, 255, 0, .6);
    /* border: 1px solid red; */
    /* background-color: rgb(0, 0, 0, .2); */
    box-shadow: 7px 1px 8px rgba(236, 236, 236);
    min-width: 250px;
    max-width: 300px;
    display: block;

}

.nav {
    padding-left: 50px;
    padding-right: 50px;

    font-family: 'Roboto Mono',
        monospace;
    font-weight: 300;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    /* border: 1px solid purple; */
}

.navSpace {
    padding-top: 30px;
}

.nav:hover {
    /* color: grey;
     text-shadow: 0 0 80px rgb(0, 0, 0, .5) */
    border: 1px solid rgb(0, 255, 0);
    font-size: 35px;
    /* line-height: 1em; */
    text-shadow: 0 0 15px rgba(0, 0, 0, .7);
    background-color: rgba(0, 255, 0, .4);
}

#myVideo {
    position: fixed;
    left: 0;
    top: 0;
    /* min-width: 100%; */
    max-width: 300px;
    overflow: hidden;
    height: 100%;
    z-index: -1;
    filter: invert(100%);

    padding: 0;
    margin: 0px;
    object-fit: cover;
    /* filter: grayscale(100%); */
}

.content {
    background-color: white;
    min-width: 1200px;
    min-height: 2000px;
}


#currentP {
    background-color: rgba(0, 255, 0, .4);
    border: 1px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    font-size: 30px;
    line-height: 1em;
    text-shadow: 0 0 15px rgba(0, 0, 0, .7);
    /* text-shadow: 0 0 15px rgba(255, 255, 255, .7); */
    min-width: 400px;
}

#currentP :hover {
    background: none;
}