body {
    display: flex;
}

.navigation {
    padding-top: 50px;
    min-width: 250px;

    display: block;
}

.navSpace {
    padding-top: 30px;
}

#myVideo {
    max-width: 300px;
    overflow: hidden;
    height: 100%;
}

.content {
    padding: 0px;
}


#currentP {
    background-color: rgba(0, 255, 0, .4);
    border: 1px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    font-size: 30px;
    text-shadow: 0 0 15px rgba(0, 0, 0, .7);

}

@media (min-width: 1025px) {
    #currentP :hover {
        background: none;
    }
}

@media only screen and (min-device-width:375px) and (max-device-width: 812px) {
    .navigation {
        box-shadow: 7px 1px 8px rgba(236, 236, 236);
        min-width: 100px;
        max-width: 100px;
    }

    .nav {
        padding-left: 10px;
        padding-right: 20px;
        font-size: 18px;
        /* border: 1px solid purple; */
    }

    #currentP {
        font-size: 20px;
    }


}