.resume {

    background-color: white;
}


h2 {
    padding: 0px;
    margin: 0px;
    border: 1px solid purple;
}

h3 {
    background-color: white;
    color: grey;
    padding: 0px;
    margin: 0px;
    border: 1px solid red;
    font-size: 20px;
}

.page {
    background-color: white;
    padding: 100px;


}

img {
    min-width: 1000px;
}