.video {
    display: flex;
    align-items: center;

    min-width: 600px;
    max-width: 1400px;
    /* max-height: 950px; */
    /* transform: translateY(50px); */
    /* overflow-y: hidden; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;


}

/* .openVKvid {
    padding-left: 25px;
    padding-right: 25px;
    /* border: 1px solid red; */
/* } */

.explained {
    /* display: flex; */
    align-items: center;
    /* border: solid 2px red; */
    /* min-width: 600px; */

    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 25px; */
    /* margin-top: 25; */
    padding: 1em;
    padding-top: none;
    /* border: 1px solid orange; */
}

.text {
    /* border: 3px dotted pink; */
    /* width: 40%; */
    padding: 1em;
    padding-right: 2em;
    /* text-align: justify; */
}

/* .process {
    max-width: 60%;
} */
.process {
    /* max-height: 300px; */

    padding-top: none;
    margin-top: none;
    /* border: 1px solid red; */
}

.color {
    display: flex;
    max-width: 1400px;

    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid blue; */
    margin-top: 50px;

}