.media {
    /* border: 2px solid orange; */

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#blackbox {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

#blackboxS {
    width: 2000%;
    /* border: 2px solid purple; */
}



.mediaEar {
    /* border: 2px solid purple; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

.mediaHome {
    /* border: 2px solid purple; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;

}

.container {
    width: 100%;
    padding: 20px;
}

.container:hover .begin {

    opacity: .3;


}

.container:hover a {
    /* border: 1px solid red; */
    color: rgb(0, 0, 0, 1);
    font-size: 40px;



}

a:hover {
    /* border: 1px solid red; */
    /* font-size: 60px; */
    text-shadow: 0 0 40px rgba(0, 255, 0, 1);

}

.container {
    position: relative;
}

/* Bottom right text */

a {
    color: rgb(0, 255, 0, 0);
    text-decoration: none;
    font-family: 'Roboto Mono',
        monospace;
    font-weight: 300;

}

.text-block {
    /* border: 1px solid red; */
    text-align: center;
    bottom: 20px;
    right: 20px;
    /* background-color: black; */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}